Assignment5/Connected Services/WeatherService/WeatherService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="DailyForecasts" nillable="true" type="tns:ArrayOfWeatherObj.DailyForecastsObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherObj" nillable="true" type="tns:WeatherObj" />
  <xs:complexType name="ArrayOfWeatherObj.DailyForecastsObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeatherObj.DailyForecastsObj" nillable="true" type="tns:WeatherObj.DailyForecastsObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeatherObj.DailyForecastsObj" nillable="true" type="tns:ArrayOfWeatherObj.DailyForecastsObj" />
  <xs:complexType name="WeatherObj.DailyForecastsObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="tns:WeatherObj.DailyForecastsObj.TemperatureObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherObj.DailyForecastsObj" nillable="true" type="tns:WeatherObj.DailyForecastsObj" />
  <xs:complexType name="WeatherObj.DailyForecastsObj.TemperatureObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maximum" nillable="true" type="tns:WeatherObj.DailyForecastsObj.TemperatureObj.TemperatureMiniObj" />
      <xs:element minOccurs="0" name="Minimum" nillable="true" type="tns:WeatherObj.DailyForecastsObj.TemperatureObj.TemperatureMiniObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherObj.DailyForecastsObj.TemperatureObj" nillable="true" type="tns:WeatherObj.DailyForecastsObj.TemperatureObj" />
  <xs:complexType name="WeatherObj.DailyForecastsObj.TemperatureObj.TemperatureMiniObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherObj.DailyForecastsObj.TemperatureObj.TemperatureMiniObj" nillable="true" type="tns:WeatherObj.DailyForecastsObj.TemperatureObj.TemperatureMiniObj" />
</xs:schema>